body {
min-height: 98vh;
display: flex;
}

.left {
flex-grow: 1;
}
.right {
flex-grow: 3;
}
.spectators {
flex-grow: 1;
cursor: pointer;
}
.progress_ {
flex-grow: 1;
}
.teams {
flex-grow: 3;
}
.state {
flex-grow: 1;
}
.add-team {
background-image: url('/static/img/add.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
background-origin: content-box;
max-content: 50% 50%;
}

.team {
flex: 1 1 21%;
min-width: 20wh;;
min-height: 20vh;
}

.section {
cursor: pointer;
}

.role {
height: 2.5vh;
padding-left: 1vh;
}

.border {
  border: solid;
  border-radius: 20px;
  padding: 10px;
}

.small-pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit:cover;
}

.menu-toggle {
  position: static;
}


#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #5c5c8a;
  border-left: 5px solid #c2c2d6;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #c2c2d6;
  height: 80px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}


#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}
#main {
  transition: margin-right .4s;
}


.square-btn {
  width: 50px;
  height: 50px;
  color: #c2c2d6;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.square-btn:hover {
  color: #c2c2d6;
  cursor: pointer;
}

#start {
background-image: url('/static/img/play.png');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
height: 50px;
width: 50px;
cursor: pointer;
}

.border-green {
border: #8FBC8F solid;
}