#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #5c5c8a;
  border-left: 5px solid #c2c2d6;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #c2c2d6;
  height: 80px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}


#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}


.content-section {
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  height: 100vh;
}


.masthead {
  min-height: 30%;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8%;
  padding-bottom: 8%;
}

.xh {
font-size: xxx-large;
text-transform: uppercase;
}


.checkbox {
  width: 1.5%;
  height: 1.5%;
}


.btn {
  background: #5c5c8a;
}




.pfp{
max-width: 300px;
max-height: 300px;
}
.pfp::-webkit-file-upload-button {
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: rgba(0, 0, 0, 0);
border: solid;
transition: background-image 500ms ease;
border-radius: 55%;
}
.pfp::-webkit-file-upload-button:hover {
background-image: url('/static/img/file.png');
cursor: pointer;
}
.section {
height: 100vh;
padding: 3vw 3vh;
}

.d-flex {
gap: 3vw;
}
.flex-column {
row-gap: 3vh;
}

#main {
  transition: margin-right .4s;
}