{% from 'match.js' import get_script with context %}

{% extends 'base.html' %}

{% block links %}
<link href="{{ url_for_css('match.css') }}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
{% endblock %}

{% block scripts %}
{{ get_script() }}
{% endblock %}
{% block content %}
<div class="d-flex flex-column flex-grow-1 pad col-gap" id="main">
    {% if room.user_is_master() %}
    <div id="start"></div>
    {% endif %}
    <div class="d-flex flex-grow-1 row-gap" id="members">
        <div class="spectators d-flex flex-column flex-grow-1 border" id="spectators">
            <p>Spectators:</p>
            <div class="members"></div>
        </div>
        <div class="right d-flex flex-column col-gap">
            <div class="teams d-flex flex-column border">
                <p>Teams:</p>
                <div class="d-flex flex-wrap teams flex-grow-1" id="teams">
                    <div class="section team add-team m-2 border" id="add-team"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="gameplay" class="border d-flex justify-content-between align-items-end">
        <div id="speaker"></div>
        <div id="speak" class="rounded-pill btn btn-secondary">Speak</div>
        <p id="word"></p>
        <p id="count-down"></p>
        <div id="guesses-container">
            <div id="guesses" class="d-flex flex-column p-3 gap-3 border"></div>
            <input class="rounded-pill form-control" id="guess" placeholder="Enter your guess">
        </div>
    </div>
</div>
{% endblock %}