{% macro get_errors(errors) %}
{% if errors %}
<ul class=errors>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}
{% extends "base.html" %}
{% block links %}
<link href="{{ url_for_css('welcome.css') }}" rel="stylesheet">
<style>
.pfp::-webkit-file-upload-button {
    background-image: url('{{ current_user.pfp }}');
}

















</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}
{% block scripts %}
<script src="{{ url_for_js('welcome.js') }}"></script>
{% if not sign_up_form.validate() and sign_up_form.is_submitted() %}
<script>
var myModal = new bootstrap.Modal(document.getElementById('signUpModal'), {})
myModal.show()

















</script>
{% elif not sign_in_form.validate() and sign_in_form.is_submitted() %}
<script>
var myModal = new bootstrap.Modal(document.getElementById('signInModal'), {})
myModal.show()


















</script>
{% endif %}
<script>
var form = document.getElementById("enter-room-form");
form.addEventListener("keydown", function(event) {
  if (event.code === "Enter") {
    event.preventDefault();
    document.getElementById("{{ enter_room_form.join.name }}").click();
  }
});



</script>
{% endblock %}
{% block content %}

<!-- Navigation-->

<a class="menu-toggle rounded" href="#"
   style='background-image: url("{{ url_for_img("menu.png") }}")'>
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
        <li class="sidebar-nav-item"><a href="#about">About</a></li>
        <li class="sidebar-nav-item"><a href="#profile">Profile</a></li>
    </ul>
</nav>
<div id="main">
    <!-- Header-->
    <div class="section d-flex flex-column">
        <h1 class="text-center xh p-5">{{ NAME }}</h1>
        <form id="enter-room-form" method="post" class="d-flex justify-content-center flex-grow-1"
              enctype="multipart/form-data">
            {{ enter_room_form.hidden_tag() }}
            <div class="d-flex flex-column justify-content-center">
                {{ enter_room_form.pfp(class='pfp flex-grow-1') }}
                {{ enter_room_form.nickname(
                class="form-control rounded-pill",
                placeholder="Enter your nickname",
                value=current_user.nickname
                ) }}
                {{ get_errors(enter_room_form.nickname.errors) }}
            </div>
            <div class="d-flex flex-column justify-content-center">
                {{ enter_room_form.create(class="btn rounded-pill btn-secondary") }}
                {{ get_errors(enter_room_form.create.errors) }}
                {{ enter_room_form.join(class="btn rounded-pill btn-secondary") }}
                {{ get_errors(enter_room_form.join.errors) }}
                {% if enter_room_form.url.data %}
                {% set link = enter_room_form.url.data %}
                {% else %}
                {% set link = '' %}
                {% endif %}
                {{ enter_room_form.url(class="form-control rounded-pill", value=link, placeholder="Enter the link") }}
                {{ get_errors(enter_room_form.url.errors) }}
            </div>
        </form>
    </div>
    <!-- About-->
    <section class="content-section d-flex justify-content-center flex-column" id="about">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">
                    <h2>What is {{ NAME }}?</h2>
                    <p class="lead mb-5">
                        {{ NAME }} is a game.
                    </p>
                    <h2>Rules</h2>
                    <p class="lead mb-5">
                        Don't cheat.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Profile -->
    <section class="content-section d-flex justify-content-center flex-column" id="profile">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">

                    <button type="button" class="btn rounded-pill btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#signUpModal">
                        Sign up
                    </button>
                    <button type="button" class="btn rounded-pill btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#signInModal">
                        Sign in
                    </button>
                    <a class="btn rounded-pill btn-secondary">Log out</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Forms -->
    <!-- Sign Up -->
    <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background: gray">
                <form method="post">
                    <div class="modal-header">
                        <h1 class="modal-title" id="signUpModalLabel">Enter following data to sign up</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {{ sign_up_form.hidden_tag() }}

                        <div>
                            {{ sign_up_form.username.label() }}
                            {{ sign_up_form.username(class='form-control rounded-pill') }}
                            {{ get_errors(sign_up_form.username.errors) }}
                        </div>

                        <div>
                            {{ sign_up_form.email.label() }}
                            {{ sign_up_form.email(class='form-control rounded-pill') }}
                            {{ get_errors(sign_up_form.email.errors) }}
                        </div>

                        <div>
                            {{ sign_up_form.password.label() }}
                            {{ sign_up_form.password(class='form-control rounded-pill') }}
                            {{ get_errors(sign_up_form.password.errors) }}
                        </div>


                    </div>
                    <div class="modal-footer">
                        {{ sign_up_form.submit(class='btn btn-secondary rounded-pill') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Sign In -->
    <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background: gray">
                <form method="post">
                    <div class="modal-header">
                        <h1 class="modal-title" id="signInModalLabel">Enter following data to sign in</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {{ sign_in_form.hidden_tag() }}

                        <div>
                            {{ sign_in_form.email.label() }}
                            {{ sign_in_form.email(class='form-control rounded-pill') }}
                            {{ get_errors(sign_in_form.email.errors) }}
                        </div>

                        <div>
                            {{ sign_in_form.password.label() }}
                            {{ sign_in_form.password(class='form-control rounded-pill') }}
                            {{ get_errors(sign_in_form.password.errors) }}
                        </div>

                        <div>
                            {{ sign_in_form.remember.label() }}
                            {{ sign_in_form.remember(class='checkbox') }}
                        </div>


                    </div>
                    <div class="modal-footer">
                        {{ sign_in_form.submit(class='btn btn-secondary rounded-pill') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}